@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: #ffffff;
}

body h2 {
  text-align: center;
}

nav {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-image: url("./assets/nav-bg/skyline.png");
  background-size: contain;
  background-position: 50%;
  background-color: #000000;
  max-height: 10rem;
  position: sticky;
  top: 0;
  /* This makes it so that the interactive map doesn't overlap this navbar */
  z-index: 1;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

nav button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-left: 1rem;
  font: inherit;
  cursor: pointer;
  outline: inherit
}

.form {
  margin: 1rem auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 30rem;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.form-input {
  box-sizing: border-box;
  line-height: 1.15rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.625rem;
}

.form-button {
  font-size: 1.25rem;
  padding: 0.625rem;
  margin: 1rem 0;
  border: none;
  background-color: #006db0;
  color: #fff;
  border-radius: 0.625rem;
  width: 100%;
}

form p {
  margin: 0.5rem;
  text-align: center;
}

.path-0 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in alternate infinite;
}


.path-1 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in infinite alternate;
}

.path-2 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in infinite alternate;
}

.path-3 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in infinite alternate;
}

.path-4 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in infinite alternate;
}

.path-5 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in infinite alternate;
}

.path-6 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in infinite alternate;
}

.path-7 {
  stroke-dasharray: 1000px;
  animation: dash 7s ease-in infinite alternate;
}

@keyframes dash {
  from {
    stroke-dasharray: 0 1000; 
  }
  to {
    stroke-dasharray: 1000;
  }
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  margin: 0 auto;
  height: 100%;
  max-width: 30rem;
  padding: 2rem;
}

.form-input-address {
  box-sizing: border-box;
  border: 2px solid #006db0;
  line-height: 1.15rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.625rem;
}

.search-button {
  font-size: 1.25rem;
  padding: 0.625rem;
  margin: 2rem 0;
  border: none;
  background-color: #006db0;
  color: #fff;
  border-radius: 0.625rem;
  width: 100%;
}

.dashboard {
  min-height: 80vh;
}

.dashboard-nav {
  min-width: 20%;
  min-height: 100%;
}

.dashboard-btn {
  border-bottom: 2px solid black;
  padding: 15px;
}

.dashboard-main {
  width: 80%;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem !important;
  }

  .left-side {
    width: 50%;
  }

  /* .btn-section {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgba(201, 201, 201, 0.5);
    border-radius: 4px;
    box-shadow: 10px 5px 5px gray;
  } */

  .filter-buttons {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
  }

  .filter-btn {
    width: 100%;
    border: 2px solid rgba(201, 201, 201, 0.5);
    border-radius: 4px;
    box-shadow: 10px 5px 5px gray;
    font-weight: bold;
  }

  .filter-btn:hover {
    box-shadow: none;
    border: 2px solid black;
  }

  .profile-section {
    margin-top: 20px;
  }

  .profile-card-image {
    display: flex;
    align-self: center;
    max-height: 250px;
  }

  .profile-card-header {
    text-align: center;
  }

  .profile-card-body {
    font-size: large;
    margin: 12px 4px;
  }

  .right-side {
    width: 50%;
  }

.map-container {
  margin: 0 1.5rem;
  min-height: 400px;
  height: 600px;
  width: 95%;
}

.sidebar {
  display: flex;
  justify-content: center;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  /* z-index: 1; */
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

  .form-div {
    width: 100%;
    margin: 12px 0 4px 0;
  }

  .search-form {
    padding: 4px;
    margin: 0;
    min-width: 90%;
  }

  .form-input-address {
    padding: 12px;
    box-shadow: 10px 5px 5px gray;
  }

  .search-button {
    margin: 12px 0 2px 0;
    box-shadow: 10px 5px 5px gray;
  }

  .search-button:hover {
    box-shadow: none;
  }

  .quick-search-cities {
    min-width: 90%;
  }

  .card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid gray;
    box-shadow: 10px 5px 5px gray;
    border-radius: 8px;
    margin: 4px;
    padding-bottom: 12px;
    font-weight: bold;
    color: white;
    min-width: 150px;
    min-height: 150px;
  }

  .card:hover {
    border-color: black;
    opacity: 0.8;
    box-shadow: none;
  }

  .card-city-text {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
  }

  .card-1 {
    background-image: url("./assets/cards/los-angeles-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .card-2 {
    background-image: url("./assets/cards/new-york-city-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .card-3 {
    background-image: url("./assets/cards/dallas-texas-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .card-4 {
    background-image: url("./assets/cards/chicago-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .card-5 {
    background-image: url("./assets/cards/atlanta-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .card-6 {
    background-image: url("./assets/cards/portland-oregon-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  footer {
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .our-place {
    margin: 0;
    animation: font-effect-neon-animation-keyframes 4s ease-in 0.4s infinite;
  }

  .title {
    content-visibility: hidden;
  }

  .left-side {
    content-visibility: hidden;
  }

  .quick-search-cities-section {
    content-visibility: hidden;
  }

  nav {
    display: flex;
    min-height: 20vh;
    justify-content: space-between;
    background-size: cover;
  }

  .nav-links {
    margin-top: 12px;
    font-weight: bold;
    font-size: large;
  }

  form {
    padding-bottom: 0;
  }

  .search-form {
    padding-bottom: 0;
    min-width: 100%;
  }

  .search-button {
    margin-top: 1em;
  }

  footer {
    position: sticky;
    bottom: 0;
  }

  footer h1 {
    height: min-content;
    align-self: center;
  }
}

.stagger {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
}

.stagger div {
  /*position: absolute;*/
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(74, 110, 255);
  background-color: rgb(74, 110, 255);
}

@keyframes font-effect-neon-animation-keyframes {
  0% {
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em orange, 0 0 0.6em orange, 0 0 0.8em orange, 0 0 1em orange, 0 0 1.2em orange;
  }

  /* 100% {
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #fff, 0 0 0.6em #fff, 0 0 0.8em #fff, 0 0 1em #fff, 0 0 1.2em #fff;
  } */
}

/* .font-effect-neon {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em purple, 0 0 0.6em purple, 0 0 0.8em purple, 0 0 1em purple, 0 0 1.2em purple;
} */